@font-face {
  font-family: "SF Compact Rounded";
  src: url("/assets/fonts/SF\ Compact\ Rounded.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Compact Rounded";
  src: url("/assets/fonts/SF\ Compact\ Rounded\ Normal.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Compact Rounded";
  src: url("/assets/fonts/SF\ Compact\ Rounded\ Semi\ Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "SF Compact Rounded";
  src: url("/assets/fonts/SF\ Compact\ Rounded\ Bold.ttf");
  font-weight: 700;
}
