@import 'variables';

.create-profile {
  &-form {max-width: 300px;}
  &-avatar {margin-bottom: 40px;}
  @media(max-width: $mobile) {
    &-form {width: auto;}
    &-avatar {display: flex; justify-content: center; width: auto;
      margin-bottom: 16px;
    }
  }
}


