@import 'variables';

.not-found {max-height: 100vh; font-weight: 600;
  &-title {font-size: $font-size-h1; color: $color-secondary; line-height: 24px;
    padding-bottom: 24px;}
  &-message {font-size: $font-size-h4; color: $color-primary-darker;}
  &-item {font-size: $font-size-larger; color: $color-primary; line-height: 50px;
    padding-bottom: 45px;
    &.transformed {transform: rotate(18.67deg); transform-origin: 50% 30%;}
  }
  &-content {display: flex; flex-direction: column; justify-content: center;
    align-items: center; height: 80vh;}
  &-code {display: flex;}
}
